@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links:link {
  --tw-text-opacity: 1;
    color: rgb(254 240 138 / var(--tw-text-opacity, 1)) /* #fef08a */;
}

.links:visited {
  color: rgb(234 179 8 ) /* #eab308 */;
}

.links:hover {
  --tw-text-opacity: 1;
    color: rgb(250 204 21 / var(--tw-text-opacity, 1)) /* #facc15 */;
}

.projects-item {
  --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1)) /* #4b5563 */;
    width: 90%;
}